<div class="container">
  <div class="simonBoard">
    <div class="pad" id="pad1" colour="green" (click)="validate($event)"></div>
    <div class="pad" id="pad2" colour="red" (click)="validate($event)"></div>
    <div class="pad" id="pad3" colour="yellow" (click)="validate($event)"></div>
    <div class="pad" id="pad4" colour="blue" (click)="validate($event)"></div>
    <div class="controls">
      <button type="button" class="btn btn-warning" (click)="startGame()" id="start">Start</button>
      <button type="button" class="btn btn-danger" (click)="restartGame()" id="reset">Reset</button>
    </div>
  </div>
</div>
<div id="snackbar"></div>