<section id="projects" class="projects-section">
  <div class="container">

    <!-- Featured Project Row -->
    <a routerLink="/juegos">
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
          <img class="img-fluid mb-3 mb-lg-0" src="./assets/imagenes/games.png" alt="">
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>Juegos</h4>
            <p class="text-black-50 mb-0">El método lúdico es un conjunto de estrategias diseñadas para crear un
              ambiente de armonía en los estudiantes que están inmersos en el proceso de aprendizaje. Este método busca
              que los alumnos se apropien de los temas impartidos por los docentes utilizando el juego.</p>
          </div>
        </div>
      </div>
    </a>

    <!-- Project One Row -->
    <a routerLink="/resultados">
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="./assets/imagenes/listado.jpg" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">Listado de resultados</h4>
                <p class="mb-0 text-white-50">Los listados de los resultados con ordenamiento y búsqueda.</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>

    <!-- Project Two Row -->
    <a routerLink="/jugadores">
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="./assets/imagenes/jugadores.png" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">Jugadores</h4>
                <p class="mb-0 text-white-50">Listado de jugadores.</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>

    <!-- Project Three Row -->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <img class="img-fluid" src="./assets/imagenes/Configuracion.png" alt="">
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">Configuraci&oacute;n</h4>
              <p class="mb-0 text-white-50">Ajustes de la aplicación y los métodos de autentificación.</p>
              <hr class="d-none d-lg-block mb-0 ml-0">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>