<div class="container">
  <header class="header column">
    <div class="row">
      <div class="col-md-8">
        <h2 class="margin">Quién Soy?</h2>
          <h3 style="text-align: center;">Soy un alumno de la UTN FRA</h3>
      </div>
      <div class="col-md-2">
        <a class="navbar-brand">
          <span><strong>Nicolás Osorio</strong></span>
          <span class="d-none d-lg-block">
            <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="./assets/imagenes/quiensoy.jpg" alt="">
          </span>
        </a>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-1"></div>
    </div>

  </header>
  <main class="content column">
    <h3 class="margin">Dónde Funciona?</h3><br>
    <div class="row">
      <p>Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma</p>
      <img src="./assets/imagenes/quiensoy1.png" class="img-responsive margin imagenDeQuienSoy" alt="Image">
    </div>

    <div class="row">
      <p>Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado
        en el comportamiento del usuario y en la funcionalidad.</p>
      <img src="./assets/imagenes/quiensoy2.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
    </div>
  </main>
</div>