.simonBoard{
    margin: 0 auto;
    margin-top: 42px;
    width: 500px;
    height: 500px;
    border: solid 10px black;
    border-radius: 250px;
    background: linear-gradient(45deg,rgba(0,0,0,1) 0%,rgba(28,36,45,1) 100%);
}

.pad {
    height: 50%;
    width: 50%;
    float: left;
    position: relative;
    border: solid 3px black;
    cursor: pointer;
    opacity: 0.5;
}

.controls{
    width: 215px;
    height: 215px;
    margin-left: 135px;
    margin-top: 135px;
    background-color: white;
    border: solid 10px black;
    border-radius: 150px;
    position: absolute;
    z-index: 10;
}

#pad1{
    background-color: rgb(0,255,0);
    border-radius: 300px 0 0 0;
}

#pad2{
    background-color: rgb(255,0,0);
    border-radius: 0 300px 0 0;
}

#pad3{
    background-color: rgb(255,255,0);
    border-radius: 0 0 0 300px;
}

#pad4{
    background-color: rgb(0,0,255);
    border-radius: 0 0 300px 0;
}

button{
    margin: 50px 0 0px 66px;
}

.pad:hover{
    opacity:1;
}

.pad:active{
    opacity:1;
}

.active{
    opacity:1;
}