<footer class="footer text-center">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Nicolás Osorio en la Web</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/osorionicolas" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
            </div>

            <div class="col-lg-6">
                <h4 class="text-uppercase mb-4">Acerca de Sala de Juego</h4>
                <p class="lead mb-0">Sala de Juegos es una página de juegos a la que cualquier persona puede acceder,
                    creada por la <a class="color_primary" href="http://www.fra.utn.edu.ar/" target="_blank">UTNFra</a>
                    y mejorada por
                    <a class="color_primary" routerLink="/quiensoy">Nicolás Osorio</a>.</p>
            </div>

        </div>
    </div>
</footer>

<section class="copyright py-4 text-center text-white">
    <div class="container">
        <small>Copyright &copy; Sala de Juegos - Nicolás Osorio 2019</small>
    </div>
</section>