<main class="wrapper">
  <section class="juegos" id="juegos">
    <ul>

      <li>
        <figure>
          <img src="./assets/imagenes/cerebro.jpg">
          <figcaption>
            <h3>Velocidad y agilidad aritmética</h3>
          </figcaption>
        </figure>
        <p>
          Juego de agilidad mental
        </p>
        <a routerLink="/juegos/agilidad">Jugar</a>
      </li>

      <li>
        <figure>
          <img src="./assets/imagenes/ppt.png">
          <figcaption>
            <h3>Piedra Papel o Tijera</h3>
          </figcaption>
        </figure>
        <p>
          Juega contra la máquina
        </p>
        <a routerLink="/juegos/ppt">Jugar</a>
      </li>

      <li>
        <figure>
          <img src="./assets/imagenes/adivina.jpg">
          <figcaption>
            <h3>Adivina el número secreto</h3>
          </figcaption>
        </figure>
        <p>
          Juego de adivinanza
        </p>
        <a routerLink="/juegos/adivina">Jugar</a>
      </li>

      <li>
        <figure>
          <img src="./assets/imagenes/simon.png">
          <figcaption>
            <h3>Simón</h3>
          </figcaption>
        </figure>
        <p>
          Juego de atención
        </p>
        <a routerLink="/juegos/simon">Jugar</a>
      </li>

      <li>
          <figure>
            <img src="./assets/imagenes/tateti.png">
            <figcaption>
              <h3>Ta-Te-Ti</h3>
            </figcaption>
          </figure>
          <p>
            Juego de estrategia
          </p>
          <a routerLink="/juegos/tateti">Jugar</a>
        </li>

    </ul>
  </section>
</main>