<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a routerLink="/Registro" class="nav-item nav-link">Registrarse</a>
      <a routerLink="/Login" class="nav-item nav-link">Ingresar</a>
    </div>
  </div>
</nav>
<div class="panel">
  <p>Sala de Juegos</p>
  <div class="image"></div>
</div>