.panel{
    position: relative;
}

.image
{
    height: 150px;
    background: transparent url("../../../assets/imagenes/cabecera.png") no-repeat 0 0;
    background-position: center;
    background-size: cover;
    opacity: 0.3; 
}

nav{
    background-color: #563d7c;
}

nav div a{
    color: white;
}

p{
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 4px;
    background: linear-gradient(150deg, #563d7c, #fff, #563d7c);
    background-size: 80%;
    animation: animate 5s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
@keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}